.templates
  .dragged-card
    .block
      = image_tag "nottwittersbird.png", size: "50x50", :class => "profile-pic"
    .block
      %h3.name HIII
  .image-post
    .content
    =link_to image_tag(""), "#", :class => "source"
  .text-post
    .tweet
      .content
      =link_to image_tag('nottwittersbird.png', alt: 't'), "#"
