.templates

  .dragged-card
    .block
      = image_tag "nottwittersbird.png", size: "50x50", :class => "profile-pic"
    .block
      %h3.name HIII

  .image-post
    .pici
      .pic
        =link_to image_tag '#', alt: '...', class: 'small'
      .content
      .link-icon
        =link_to "#", "#"

  
  .text-post
    .texti
      .content
      .link-icon
        =link_to "#", "#"
