.templates
  
  .image-post
    .pici
      .pic
        =link_to image_tag('default_user.png'), '#', alt: '...', class: 'small'
      .content
      .link-icon
        =link_to "#", "#"

  
  .text-post
    .texti
      .content
      .link-icon
        =link_to "#", "#"

  .dragged-card
    .header
      .mini-pic
        = image_tag "nottwittersbird.png", size: "50x50", :class => "profile-pic"
      .name

  