.searchbox-board
  /= search_form_for @search do |f|
  = form_tag search_path, method: :get do
    .field
      /= f.label :name_cont, "Board contains"
      /= f.text_field :name_cont
      = text_field_tag :q, "Search for boards or cards..."
    /.actions= f.submit 'Search Boards'

    / .suggestions
    /   - if @search_suggestions
    /     - @search_suggestions.each do |suggestion|
    /       = link_to suggestion.name, board_path(suggestion)

    .search-suggestions
      -if @boards_searchresults
        - @boards_searchresults.each do |board|
          =link_to board.name, board_path(board)
      -if @cards_searchresults
        - @cards_searchresults.each do |card|
          =link_to card.name, card_path(card)
