%h1 Search

.searchbox-board
  = form_tag search_path, method: :get do
    .field
      = text_field_tag :q, nil, placeholder: "Search for boards and cards"


    %h2 Search Results
    .search-suggestions
      %p
        Results for <b>Boards</b>
        -if @boards_searchresults
          - @boards_searchresults.each do |board|
            .result
              Board
              =link_to board.name, board_path(board)
      %p
        Results for <b>Boards</b>
        -if @cards_searchresults
          - @cards_searchresults.each do |card|
            .result
              Card
              =link_to card.name, card_path(card)
      / %p  
      /   -if @cards_twitterhandle_searchresults
      /     - @cards_twitterhandle_searchresults.each do |card|
      /       .result
      /         Twitter
      /         =link_to card.twitter_handle, card_path(card)
