%h1 Edit Board

-if current_user
  = render partial: 'board_form',  locals: { board: @board }
-else
  = render partial: 'shared/authenticate'
%p
  =link_to "#{@board.name} | ", @board
  =link_to "view all boards", boards_path

