%h1 Boards
%table.boards-all
  %tr
    %th Name
    %th Description
    %th Creator

  - for board in @boards
    %tr
      %td= link_to board.name, board
      %i 
        %td= board.description 
      %td= board.user.name if board.user
      
%p= link_to "New Board", new_board_path