.card-wrapper.always-show
  .flip
    .card#add-card
      .face.front
        %h1.plus-sign +
      .face.back  
        .header
          .name Add a Card
        .news
          =render partial: 'cards/form', locals: { card: card, board: board }
