/ .flip
/ 	.card
/ 		.face.front	
/ 		.face.back	
/ 			.header
/ 				.mini-pic

/ 				.name
/ 					=card.name
/ 				.last-updated
/ 					= link_to 'Update', get_tweets_card_path(card), {remote: true, class: 'update'} 
/ 					37m
/ 			.footer
/ 				...
