.flip
  .card
    .face.front 
        
    .face.back  
      .header
        .mini-pic

        .name
          =card.name
        .last-updated
      .tweet
      -recent_tweets[0..4].each do |tweet|
        %p= tweet