.flip
	.card
		.face.front	
			sdjfhjsdhfsdh
		.face.back	
			.header
				.mini-pic

				.name
					=@card.name
				.last-updated
					37m

/ <div class="flip"> 
/         <div class="card"> 
/             <div class="face front"> 
/                 Front
/             </div> 
/             <div class="face back"> 
/                 Back
/             </div> 
/         </div> 
/     </div> 

/ .flip
/ 	.card
/ 		.face.front
/ 			Front
/ 		.face.back
/ 			Back



/ .card {
	
/ 	.face.front {
/ 		margin: 1em;
/ 		margin-bottom: 0;
/ 		width: 200px;
/ 		height: 330px;
/ 		background-color: $purple;
/ 		@include rounded-corners($corner_radius);
/ 	}

/ 	.face.back {
/ 		margin: 1em;
/ 		margin-bottom: 0;
/ 		width: 200px;
/ 		height: 330px;
/ 		background-color: $yellow;
/ 		@include rounded-corners($corner_radius);


/ 			@include rounded-top-corners($corner_radius)
/ 		}
/ 	}
/ }