/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 *= require foundation-icons
 */

 /* SEARCH FORM - MAY BE OVERWRITTEN BY FOUNDATION CLASSES... */
#searchform input {width:250px; border-radius: 15px;}
#suggestions{ position: relative; display:none; } 

#searchresults { border-width:1px; border-color:#919191; width:250px; background-color:#a0a0a0; font-size:1em; line-height:14px; margin-top: 17px}
.searchresult { border-radius: 20px;}

#searchresults a { display:block; background-color:#e4e4e4; clear:left; height:56px; text-decoration:none; }
#searchresults a:hover { background-color:#b7b7b7; color:#ffffff; }
#searchresults a img { float:left; border-radius: 5px; }
#searchresults a span.searchheading { display:block; font-weight:bold; color:#191919; font-size: 1em; }
#searchresults a:hover span.searchheading { color:#ffffff; }
#searchresults a span { color:#555555; }
#searchresults a:hover span { color:#f1f1f1; }

