// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.board {
	padding: 0.5em;
	overflow: auto !important;
}

.inline-edit{
	display: none;
}

.unfollow {
	display: none;
}