// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$more-rounded: 12px;
$less-rounded: 4px;

.boards-all {
  margin: auto;
  border-radius: $more-rounded;
}

.board_form input {
  border-radius: $less-rounded; 
}

.board_form {
  width: 350px;
  margin: auto;
}

.board-name h2{
  margin: 0;
}

.main .board-name {
  display: inline-block;
}

.main .board_desc{
  display: inline-block;
}
.main .board_actions{
  display: inline-block;
}

/*.board {
	overflow: auto !important;
}*/

.inline-edit{
	display: none;
}

.hidden {
	display: none;
}

dl.sub-nav {
	display:inline-block;
	margin-left: 1em;
	margin-right: 1em;
}

/*
dd a:hover {
	color: gray !important;
}*/