// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.board {
	overflow: auto !important;
}

.inline-edit{
	display: none;
}

.hidden {
	display: none;
}

dl.sub-nav {
	display:inline-block;
	margin-left: 1em;
	margin-right: 1em;
}

/*
dd a:hover {
	color: gray !important;
}*/