$purple: #890CFF;
$blue: #0BAFE8;
$green: #4CFF3F;
$yellow: #E8BB0B; 
$red: #FF3501;
$light-blue: #C3D5E8;

$card: $light-blue;
$card-trans: rgba($card, .7);

$card-height: 20em; /*this*/
$header-size: 2.5em; /*minus this*/
$content-size: 20em; /*equals this*/
$name-padding: 1em;
$corner_radius: 5px;

@mixin shadow($x,$y, $blur){
	-webkit-box-shadow: $x $y $blur rgba(50, 50, 50, 0.58);
	-moz-box-shadow:    $x $y $blur rgba(50, 50, 50, 0.58);
	box-shadow:         $x $y $blur rgba(50, 50, 50, 0.58);
}

@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin rounded-top-left-corner($radius) {
  -webkit-border-top-left-radius: $radius;
	-moz-border-radius-topleft: $radius;
	border-top-left-radius: $radius;
}

@mixin rounded-bottom-corners($radius) {
  -webkit-border-bottom-left-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	-moz-border-radius-bottomright: $radius;
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin rounded-top-corners($radius) {
  -webkit-border-top-left-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-topright: $radius;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

.tweet {
	width: 100%;
	color: rgba(darken($card, 70), .6);
	margin: .2em .2em .5em .8em;
	text-align: left !important;
	display: inline-block;
	float: left;
	position: relative;
	border-left: solid black 10px;

	.content {
		margin-right: 2em;
	}

	a img {
		display: inline-block;
		float: right;
		opacity: .3;
		position: absolute;
		top: 0;
		right: 1em;

		&:hover {
			opacity: .7;
		}
	}
}

.flip {
	-webkit-perspective: 800;
	/*width: 32%;*/
	width: 250px;
	height: $card-height;
	height: $card-height;
	display: none;
/*	min-width: 250px;
	max-width: 310px;*/
	margin-top: 1em;
	margin-left: 1em;
	position: relative;
	float: left;


  .card.flipped {
  	-webkit-transform: rotatey(-180deg);
	}

  .card {
	  width: 100%;
	  height: 100%;
	  -webkit-transform-style: preserve-3d;
	  -webkit-transition: 0.5s;
	
  	.face {
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  -webkit-backface-visibility: hidden;
		  z-index: 2;
		}

		.front {
		  position: absolute;
		  z-index: 1;
		  background-color: darken($card, 8);
		  color: white;
		  cursor: pointer;
		  height: 100%;
		  border: solid $card-trans 2px;
		  @include rounded-corners($corner_radius);

		  .mega-pic {
		  	width: 100%;
		  	height: 100%;

		  	border: solid $card-trans 2px;
		  	@include rounded-corners($corner_radius);
		  }

		}

  	.back {
		  -webkit-transform: rotatey(-180deg);
		  background: blue;
		  background: white;
		  cursor: pointer;
		  background-color: $card-trans;
		  position: relative;
		  @include rounded-corners($corner_radius);

		  .header {
				background-color: lighten($card, 30);
				height: $header-size;
				@include shadow(0px, 2px, 8px);
				margin-bottom: 2px;
				
				.mini-pic {
					width: $header-size;
					height: $header-size;
					background-color: grey;
					float: left;
					position: relative;
					@include rounded-top-left-corner($corner_radius);
				}

				.name {
					font-size: 1.25em;
					margin-bottom: $name_padding; 
					font-family: sans-serif;
					position: relative;
					float: left;
					color: darken($card, 60);
				}

				.last-updated {
					float: right;
					position: relative;
					margin-top: 20px;
					color: $card;
				}
				@include rounded-top-corners($corner_radius);
			}

			.news {
				font-size: .85em;
				color: black !important;
				height: $content-size;
			  overflow: hidden;
			}

			.footer {
				background-color: white;
				height: .9em;
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
				@include shadow(2px, 0px, 8px);
				@include rounded-bottom-corners($corner_radius);
			}
		}
	}
}