$purple: #890CFF;
$blue: #0BAFE8;
$green: #4CFF3F;
$yellow: #E8BB0B; 
$red: #FF3501;
$light-blue: #C3D5E8;

$card: #C3D5E8;
$card-trans: rgba($card, .7);

$header-size: 2.5em;
$name-padding: 1em;
$corner_radius: 5px;

body {
	background-color: lighten($card, 20);
}


@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin rounded-top-left-corner($radius) {
  -webkit-border-top-left-radius: $radius;
	-moz-border-radius-topleft: $radius;
	border-top-left-radius: $radius;
}

@mixin rounded-bottom-corner($radius) {
  -webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-bottom-left-radius: $radius;
}

@mixin rounded-top-corners($radius) {
  -webkit-border-top-left-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-topright: $radius;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

.tweet {
	color: rgba(darken($card, 40), .6);
}


.flip {
	display: none;
	-webkit-perspective: 800;
	width: 32%;
	height: 20em;
	min-width: 250px;
	max-width: 310px;
	margin-top: 1em;
	margin-left: 1em;
	position: relative;
	float: left;
}

.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  background-color: darken($card, 8);
  color: white;
  cursor: pointer;
  height: 100%;
  overflow: auto;
  @include rounded-corners($corner_radius);
}

.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  background: blue;
  background: white;
  color: black;
  cursor: pointer;
  background-color: $card-trans;
  overflow: hidden;
  position: relative;
  @include rounded-corners($corner_radius);

  .header {
		background-color: lighten($card, 30);
		height: $header-size;
		
		.mini-pic {
			width: $header-size;
			height: $header-size;
			background-color: grey;
			float: left;
			position: relative;


			@include rounded-top-left-corner($corner_radius)
		}

		.name {
			margin-bottom: $name_padding; 
			font-family: sans-serif;
			position: relative;
			float: left;
			color: darken($card, 35);
		}

		.last-updated {
			float: right;
			position: relative;
			margin-top: 20px;
			color: $card;
		}
		@include rounded-top-corners($corner_radius)
	}

	.footer {
		background-color: black;
		min-height: 50px;
		position: absolute;
		bottom: 0;
	}

}