html, body {
	height: 100%;
	margin:0;
	padding:0;
}

.container {
	background-color: #F8F8F8;
	min-height:1500px;
}

.left-sidebar {
	background-color: #E8E8E8;
	/*min-height: 100%;*/
}

.main {
	background-color: #C8C8C8;
	/*min-height: 100%;*/
}

.right-sidebar {
	background-color: #909090; 
	/*min-height: 100%;*/
}

.footer {
	background-color: #D8D8D8 ;
	text-align: center;
}

.sticky {
	position: fixed;
	z-index: 999;
}

.contain-to-grid .top-bar {
	margin-bottom: 0;
}