
html, body {
	height: 100%;
	margin:0;
	padding:0;
}

.container {
	/*background-image: #F8F8F8;*/
	background: url(stripes.png); 
}

.left-sidebar {
	background-color:rgba(200,200,200,0.5);
	min-height:1000px;
	/*min-height: 100%;*/
}

.main {
	background-color:rgba(250,250,250,0.5);
	text-align: center;
	padding: 1.5em;
	/*min-height: 100%;*/
}

.right-sidebar {
	background-color: #909090; 
	/*min-height: 100%;*/
}

.footer {
	background-color: #D8D8D8 ;
	text-align: center;
}

.sticky {
	position: fixed;
	z-index: 999;
}

.contain-to-grid .top-bar {
	margin-bottom: 0;
}

.board-dropzone {
	width: 350px;
	height: 3em;
}

li.board-link a{
	width: 20em;
	height: 3em;
	/*background-color:rgba(250,250,250,0.5);*/
}

.templates {
	display: none;
}

.dragged-card {
	height: 50px;
	width: auto;
	background-color:rgba(200,200,200,0.5);
	border-radius: 5px;
	vertical-align: middle;

	.block {
		display: inline-block;
		margin: 0;
		padding:0;
		vertical-align: middle;

		img {
			border-radius: 5px;
			margin:0;
			padding:0;
		}

		h3 {
			margin:0;
			margin-left: 0.2em;
			margin-right: 0.2em;
			padding:0;
		}
	}
}

.drop-hover {
	background-color:rgba(250,250,250,0.25);
	border-radius: 2px;
	/*height:100px;*/
}

.face.front.label {
	font-size: 2em;
}

.top-bar {
	#settings-link {
		font-size: 2em;
		margin-right: 0.5em;
		margin-left: 0.5em;
	}
}