<p id="searchresults">
   <span class="category">Boards</span>
      <a href="[URL_FROM_DATABASE]">
         <img alt="" src="search_images/[IMG_FROM_DATABASE]"/>
         <span class="searchheading"><%= cards_results.first[:name] unless cards_results.empty? %></span>
         <span>//description</span>
      </a>
      <a href="[URL_FROM_DATABASE]">
         <img alt="" src="search_images/[IMG_FROM_DATABASE]"/>
         <span class="searchheading">[HEADING_FROM_DATABASE]</span>
         <span>[TEXT_FROM_DATABASE]</span>
      </a>
      <!-- more items -->
   <span class="category">Webdesign</span>
      <a href="[URL_FROM_DATABASE]">
         <img alt="" src="search_images/[IMG_FROM_DATABASE]"/>
         <span class="searchheading">[HEADING_FROM_DATABASE]</span>
         <span>[TEXT_FROM_DATABASE]</span>
      </a>
   <!-- more categories -->
   <span class="separator">
      <a href="http://www.marcofolio.net/sitemap.html">Nothing interesting here? Try the sitemap.</a>
   </span>
</p>