%li.has-form
  .row.collapse
    = form_tag('/search', method: 'get') do
      .small-8.columns
        =text_field_tag :q, nil, placeholder: "Search..."
      .small-4.columns
        =submit_tag "Search", :class => "button prefix"